<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- eventually need to move this to local -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />


<head lang="en" th:replace="common/header :: header">
</head>
<br />
<body>
	<div class="container">
		<div th:replace="${content} :: content"></div>

	</div>
	<div lang="en" th:replace="common/footer :: footer"></div>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>